.contenedor-logo,
.menu-principal {
    margin: auto;
    text-align: center;
}


.menu-principal {
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 10px auto 10px;
    border-radius: 8px;
    background: #86bfee;
    text-align: center;
}

.menu-principal a {
    display: inline-block;
    width: 25%;
    /* 100% dividido por el número de elementos del menú*/
    box-sizing: border-box;
    padding: 20px 10px;
    color: white;
    font-size: large;
    text-decoration: none;
}

.menu-principal a:hover {
    background-color: #45a4f3;
}


#logo {
    margin-left: 85px;
    height: 360px;
    width: 520px;
}

#SVlogo {
    float: none;

}

.parrafo {
    text-align: center;

}

.tituloQS {
    text-align: center;

}


#Yeso {
    width: 500px;
    height: 400px;
}

#CocineroComedor {
    width: 500px;
    height: 400px;
}

#Soldador {
    width: 500px;
    height: 400px;

}

.layout {
    width: 1366px;
    height: 768px;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 300px);
    gap: 8px;
    justify-content: center
}

.layoutContacto {

    width: 1920px;
    height: 1080px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    justify-content: center;
    align-items: center;
}



.layoutIndex {
    width: 1920px;
    height: 1080px;
    display: flex;
    gap: 16%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.block {
    overflow: hidden;
    background: rgb(209, 204, 204);
    padding: 1rem;
    width: 80%;
    margin: 10% 0 1rem 10rem;
}

.block img {
    width: 12%;
    height: 25%;
    float: left;
    margin-top: 100px;
    margin-right: 20px;
}

.block h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}

.block>div {
    padding-left: calc(100px + 1rem);
}


#lblCentroBlock {
    background: #222;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 85%;
    line-height: 1.4;
    margin: 0;
    padding: 1rem;
    margin-left: 75px;
}

#lblTituloQS {
    color: black;
}

#fondoQS {
    background-color: #86bfee;
}


#cursosCohorte {
    margin-left: 18%;
    width: 70%;
}

li {
    list-style: none;
}

ul>li {
    display: inline-block;
}

.container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

/*====================================================*/

/* Media queries */
/* Mobile */
@media only screen and (max-width: 576px) {

    /* Inicio */
    #logo {
        margin-left: 45px;
        height: 100px;
        width: 130px;
    }

    .layoutIndex {
        width: 500px;
        height: 108px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;

    }

    .menu-principal {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 10px auto 10px;
        border-radius: 8px;
        background: #86bfee;
        text-align: center;
    }


    .layout {
        width: 100%;
        height: 100%;
        margin-right: auto;
        display: block;
    }

    #imgCentro {
        width: 100%;
        height: auto;
    }

    /* quienes somos*/
    .block {
        overflow: hidden;
        background: rgb(209, 204, 204);
        padding: 1rem;
        width: 100%;
        margin: 10% 0 1rem 0;
    }

    .block img {
        width: 12%;
        height: 25%;
        float: left;

    }

    .block h2 {
        font-weight: 500;
        margin: 0 0 0.5rem 0;
    }

    .block>div {
        padding-left: calc(100px + 1rem);
    }

    #lblCentroBlock {
        background: #222;
        color: white;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        font-size: 85%;
        line-height: 1.4;
        margin: 0;
        padding: 1rem;

    }

}




/* Responsive hasta 768 */
@media only screen and (max-width: 768px) and (min-width: 577px) {

    /* Inicio */
    #logo {
        margin-left: 45px;
        height: 100px;
        width: 130px;
    }

    .layoutIndex {
        width: 500px;
        height: 108px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;

    }

    .menu-principal {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 10px auto 10px;
        border-radius: 8px;
        background: #86bfee;
        text-align: center;
    }


    .layout {
        width: 100%;
        height: 100%;
        margin-right: auto;
        display: block;
    }

    #imgCentro {
        width: 100%;
        height: auto;
    }

    /* quienes somos*/
    .block {
        overflow: hidden;
        background: rgb(209, 204, 204);
        padding: 1rem;
        width: 100%;
        margin: 10% 0 1rem 0;
    }

    .block img {
        width: 12%;
        height: 25%;
        float: left;

    }

    .block h2 {
        font-weight: 400;
        margin: 0 0 0.5rem 0;
    }

    .block>div {
        padding-left: calc(100px + 1rem);
    }

    #lblCentroBlock {
        background: #222;
        color: white;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        font-size: 85%;
        line-height: 1.4;
        margin: 0;
        padding: 1rem;

    }
}



@media only screen and (max-width:1325px) {

    /* Inicio */
    #logo {
        margin-left: 45px;
        height: 100px;
        width: 130px;
    }

    .layoutIndex {
        width: 500px;
        height: 108px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;

    }

    .menu-principal {
        position: relative;
        overflow: hidden;
        width: 90%;
        margin: 10px auto 10px;
        border-radius: 8px;
        background: #86bfee;
        text-align: center;
    }

    .layout {
        width: 100%;
        height: 100%;
        margin-right: auto;
        display: block;
    }

    #imgCentro {
        width: 100%;
        height: auto;
    }

    /* quienes somos*/
    .block {
        overflow: hidden;
        background: rgb(209, 204, 204);
        padding: 1rem;
        width: 100%;
        margin: 10% 0 1rem 0;
    }

    .block img {
        width: 12%;
        height: 25%;
        float: left;

    }

    .block h2 {
        font-weight: 400;
        margin: 0 0 0.5rem 0;
    }

    .block>div {
        padding-left: calc(100px + 1rem);
    }

    #lblCentroBlock {
        background: #222;
        color: white;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        font-size: 75%;
        line-height: 1.4;
        margin: 0;
        padding: 1rem;

    }
}